@model IEnumerable<MvcSinema.Models.Kategori>

@{
    Layout = null;
}
<h5 class="card-header" style=" background-color:#a31d1d;color:#fff;">Kategoriler</h5>
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in Model)
            {
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/Home/KategoriMakale/@item.KategoriId">@item.KategoriAdi</a>
                    </li>

                </ul>
            }

        </div>
    </div>
</div>
