@model IEnumerable<MvcSinema.Models.Makale>

@{
    Layout = null;
}
<h5 class="card-header" style="background-color:#a31d1d;color:#FFF;">En Çok Okunanlar</h5>
<div class="card-body">
    <ul class="list-unstyled mb-0">
        @foreach (var item in Model)
        {
            <li>
                <img src="@item.Foto" class="img-fluid rounded-circle"   width="40" alt="@item.Baslik" />
        <a href="/Home/MakaleDetay/@item.MakaleId   ">@item.Baslik </a>(@item.Okunma)
            </li>
        }
        </ul>
</div>