@model IEnumerable<MvcSinema.Models.Yorum>
@{
    Layout = null;
}
<h5 class="card-header" style="background-color:#a31d1d;color:#FFF;">Son Yapılan Yorumlar</h5>
<div class="card-body">
     <ul>
         @foreach (var item in Model)
         {
             <li>@item.Yorum1</li>
         }
     </ul>
</div>
