



<h5 class="card-header" style="background-color:#a31d1d;color:#FFF;">Ara</h5>
@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="card-body">
        <div class="input-group">
            <input id="Ara" name="Ara" type="text" class="form-control" placeholder="Arama Yap...">
            <span class="input-group-btn">
                <button  class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
} 

